$utilities:map-remove($utilities, "rounded-end");
$utilities:map-remove($utilities, "rounded-start");
$utilities:map-remove($utilities, "rounded");
$utilities:map-remove($utilities, "width");

$utilities:map-merge($utilities, (
  "rounded-end": (
      property: border-top-right-radius border-bottom-right-radius,
      class: rounded-end,
      values: (null: $border-radius-meli)
    )
));

$utilities:map-merge($utilities, (
  "rounded-start": (
      property: border-bottom-left-radius border-top-left-radius,
      class: rounded-start,
      values: (null: $border-radius-meli)
    )
));

$utilities:map-merge($utilities, (
  "rounded": (
    property: border-radius,
    class: rounded,
    values: (
      null: $border-radius,
      0: 0,
      1: $border-radius-sm,
      2: $border-radius,
      3: $border-radius-lg,
      4: $border-radius-meli,
      circle: 50%,
      pill: $border-radius-pill
    )
  )
));

$utilities:map-merge($utilities, (
  "width": (
      property: width,
      class: w,
      values: (
        25: 25%,
        30: 30%,
        33: 33%,
        35: 35%,
        50: 50%,
        75: 75%,
        95: 95%,
        100: 100%,
        auto: auto
      )
    )
));

