$utilities:map-remove($utilities, "rounded-end");
$utilities:map-remove($utilities, "rounded-start");
$utilities:map-remove($utilities, "rounded");
$utilities:map-remove($utilities, "width");

// rounded-end (top-right/bottom-right) personalizado con el borde especificado de 4px
$utilities:map-merge($utilities, (
  "rounded-end": (
      property: border-top-right-radius border-bottom-right-radius,
      class: rounded-end,
      values: (null: $border-radius-meli)
    )
));

// rounded-start (top-left/bottom-left) personalizado con el borde especificado de 4px
$utilities:map-merge($utilities, (
  "rounded-start": (
      property: border-bottom-left-radius border-top-left-radius,
      class: rounded-start,
      values: (null: $border-radius-meli)
    )
));

// rounded personalizado con el borde especificado de 4px
$utilities:map-merge($utilities, (
  "rounded": (
    property: border-radius,
    class: rounded,
    values: (
      null: $border-radius,
      0: 0,
      1: $border-radius-sm,
      2: $border-radius,
      3: $border-radius-lg,
      4: $border-radius-meli,
      circle: 50%,
      pill: $border-radius-pill
    )
  )
));

// Anchos personalizados de 30%, 33%, 35% y 95%
$utilities:map-merge($utilities, (
  "width": (
      property: width,
      class: w,
      values: (
        25: 25%,
        30: 30%,
        33: 33%,
        35: 35%,
        50: 50%,
        75: 75%,
        95: 95%,
        100: 100%,
        auto: auto
      )
    )
));

