// Create your own map
$meli-colors: (
  "yelow-meli": #FFE600,
  "grey-meli": #EEEEEE,
  "grey-dark-meli": #999999,
);

$meli-spacers: (
  6: 3%,
  7: 16px,
  8: 32px,
);

$meli-font-sizes: (
  7: 12px,
  8: 14px,
  9: 18px,
  10: 24px,
);
// Custom variables
$border-radius-meli: 4px;
// Assigne custom values
$input-border-width: 0;
$input-font-size: 18px;
$input-color: #333333;
$input-focus-color: $input-color;
$input-placeholder-color: #999999;
$body-bg: #EEEEEE;
$btn-border-radius: 0;
