// Create your own map
$meli: (
  "yelow-meli": #FFE600,
  "grey-meli": #EEEEEE 
);

// Custom variables
$border-radius-meli: 4px;
$input-border-width: 0;
$input-font-size: 18px;
$input-color: #333333;
$input-focus-color: #333333;
$input-placeholder-color: #999999;
