// Variable personalizada para el radio de borde
$border-radius-meli: 4px;
// Variables perzonalizadas para colores
// Colores especificados para MELI
$yelow-meli: #FFE600;
$grey-meli: #EEEEEE;
$grey-dark-meli: #999999;
$primary-meli: #3483FA;
$black-meli: #333333;

$meli-colors: (
  "yelow-meli": $yelow-meli,
  "grey-meli": $grey-meli,
  "grey-dark-meli": $grey-dark-meli,
  "primary-meli": $primary-meli
);

// Espacios de las especificaciones
$meli-spacers: (
  6: 3%,
  7: 16px,
  8: 32px,
);

// Tamaños de fuentes personalizadas
$meli-font-sizes: (
  7: 12px,
  8: 14px,
  9: 16px,
  10: 18px,
  11: 24px,
  12: 46px,
);


// Assigne custom values
$input-border-width: 0;
$input-font-size: 18px;
$input-color: $black-meli;
$input-focus-color: $input-color;
$input-placeholder-color: $grey-dark-meli;
$body-bg: $grey-meli;
$btn-border-radius: 0;
